footer{
  padding: 0 20px 50px;
  line-height: 28px;
}

.footer-logo{
    &__logo{
      display: flex;
      align-items: center;
      color:  #333333;
      text-transform: uppercase;
      font-size: 24px;
      text-align: left;
        
      div{
          height: 41px;
          width: 43px;
          margin-right: 18px;
          background-image: url("../img/img_320/footer-logo__320.png");  
        }
      
      span{
        color: $color-purple;
      }
    }
    
    p{
      margin-top: 36px;
      @include footer-text;
      line-height: 21px;
    }
    
    &__logo:hover{
       color: $color-purple;
      
       div{
          background-image: url("../img/img_320/footer-logo__320-hover.png");  
        }
        
       span{
         color: #333333;
       }
    }
}

.footer-navigation{
    span{
      @include footer-title;
    }
    
    ul{
      margin-top: 23px;
      color: $color-purple;
      font-size: 15px;
      line-height: 23px;
        
        a:hover{
           border-bottom: 1px solid $color-purple; 
        }    
        
    }   
}

.footer-contacts{
    margin-top: 38px;
    &__tel{
      color:  #31384d;
      font-size: 30px;
      font-weight: 700;    
    }
    
    &__work-time{
      font-size: 12px;
    }
    
    &__city{
      @include footer-title;
    }
    
    p{
      margin-top: 20px;
      @include footer-text;
    }
}

.footer-info{
    
    span{
      @include footer-title;
    }
    
    p{
      margin-top: 24px;
      @include footer-text;
    }
}
