.header{
    position: relative;
    height: 718px;
    background-image: url(../img/img_320/header-banner__320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__bg{
        height: 103px;
        background-color: #262626;
    }
    &__content{
        height: 103px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 6px;
    }
    &__logo{
        display: flex;
        align-items: center;
        &-link{
            background-image: url(../img/img_320/header-logo__320.png);
            background-repeat: no-repeat;
            transition: all 0.4s;
            height: 41px;
            display: flex;
            align-items: center;
        }
        &-text{
            font-family: 'Lato', sans-serif;
            color:  $color-purple;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            padding-left: 50px;
            transition: all 0.4s;
            display: none;
        }
    }
    &__button{
        @include style-button;
        font-size: 15px;
        &:hover{
            @include style-button-hover;
        }
    }
}
.header__logo:hover{
    cursor: pointer;
}
.header__logo:hover .header__logo-link{
    background-image: url(../img/img_320/header-logo__320-hover.png);
    transition: 0.4s;
}
.header__logo:hover .header__logo-text{
        color: $color-white;
        transition: all 0.4s;     
}
.toggle__menu{
        display: flex;
        flex-direction: column;
        &:hover{
            cursor: pointer;
        }
        &-line{
            width: 26px;
            height: 3px;
            background-color: $color-white;
            border-radius: 3px;
            margin: 3px 0px; 
            transition: all 0.4s ease;
            transform-origin: 0.5px;
        }
        &-firstline{
            margin-left: 6px;
            width: 20px;
        }
}

.navbar{
    position: absolute;
    width: 100%;
    top: -1000px;
    right: 0;
    opacity: 0;
    transition: all 0.4s linear;
    &__item{
        background-color: #303030;
        border-bottom: 1px solid #383838;
        &-link{
            color:  $color-white;
            font-size: 15px;
            display: flex;
            align-items: center;
            padding: 15px 0px;
            transition: all 0.4s;
        }
        &-link:hover{
            color: $color-purple;
            transition: all 0.4s;
        }
        &-link:before{
            content: "";
            width: 4px;
            display: inline-block;
            border-left: 4px solid transparent;
            padding-left: 30px;
            height:35px;
            transition: 0.4s border-left;
        }
        &-link:hover:before{
            border-left: 4px solid $color-purple;
            transition: 0.4s border-left;
        }
    }
    
}

.navbar__active .toggle {
    position: relative;
}
.navbar__active .toggle__menu-firstline{
    transform: rotate(45deg);
    width: 26px;
    margin-left: 0;
}
.navbar__active .toggle__menu-secondline{
    opacity: 0;
}
.navbar__active .toggle__menu-thirdline{
    transform: rotate(-45deg);
}
.navbar__active .navbar{
    top: 103px;
    opacity: 1;
}

.headline{
    text-align: center;
    padding: 43px 6px 0 6px;
    &__title{
        color:  $color-white;
        font-size: 47px;
        font-weight: 700;
        padding-bottom: 20px;
    }
    &__sub{
        font-size: 17px;
        color: $color-purple;
        line-height: 35px;
        padding-bottom: 15px;
    }
    &__version{
        color:  $color-lightblue;
        text-transform: uppercase;
    }
}

.bottom__button{
    position: absolute;
    width: 260px;
    overflow: auto;
    margin: auto;
    bottom: -22px;
    left: 0;
    right: 0;
    font-size: 18px;
    text-align: center;
    @include style-button;
    &:hover{
        @include style-button-hover;
    }
}
