.social{
    margin: 0 auto;
    padding: 120px 65px 0;
    text-align: center;
    font-weight: 400;
    
    .social-carousel{
        margin: 0 auto;
        max-width: 740px;
        
        &__slide{
            margin: 0 auto;
            
            >p{
              font-family: Lato;
              font-size: 17px;
              line-height: 24px;
              padding-top: 40px;
            } 
            
            >span{
                color:  #848e97;
                font-size: 16px;
                line-height: 60px;
                margin-top: 22px;
            }
        }

        &__slide-user{
            margin: 0 auto;
            width: 300px;
            display: flex;

            img{
                margin-right: 25px;
            }

            div{
                text-align: left;
                line-height: 32px;
            }
        }

        &__slide-userName{
            display: inline-block;
            margin-top: 13px;
            color:  #474747;
            font-size: 24px;
            font-weight: 700;
        }

        &__slide-userLog{
            color: $color-purple;
            font-size: 16px;
        }
    }
    
    .social-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        >div{
           display: flex;
           flex-direction: column;
           align-items: center;
        }

        button{
            margin-top: 30px;
            padding: 0;
            width: 280px;
            height: 50px;
            border-radius: 4px;
            font-size: 21px;
    
            i{

            }
            
            span{
                margin: 0 0 0 ;
                font-size: 21px;
                display: inline-block;
                width: 210px;  
            }
        }
        
        &__git{
            color: #000000;
            background-color:  #f3f3f3; 
        }
        
        &__twit{
            color: $color-white;
            background-color:  #26a6d1;
        }
        
        &__fb{
            color: $color-white;
            background-color:  #3b5998;
        }
        
        &__followers{
            margin-top: 18px;
            color: $color-lightblue;
            font-size: 14px;
        }
        
       &__git:hover{
            color: $color-white;
            background-color:  #2b414d; 
        } 
       &__twit:hover{
            color: #26a6d1;
            background-color: $color-white;
            border: 1px solid #26a6d1;
        }
        
        &__fb:hover{
            color: #3b5998;
            background-color: $color-white;
            border: 1px solid #3b5998;
        }
    }
}
