@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700i');

$color-purple:#8e82ad;
$color-white: #fff;
$color-lightblue: #848e97;

a,li{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.container{
    margin: 0 auto;
}
@mixin style-button{
    border: none;
    background-color: $color-purple;
    padding: 12px 25px;
    border-radius: 25px;
    color: $color-white;
    font-weight: 700;
}

@mixin footer-title{
    display: inline-block;
    margin-top: 38px;
    color:  #323232;
    font-size: 16px;
}

@mixin footer-text{
    color: $color-lightblue;
    font-size: 14px;
    line-height: 23px;
}

@import "_header";
@import "_feautures";
@import "_social";
@import "_introRevEdit";
@import "_sectionAbout";
@import "_footer";

@media (min-width: 320px) and (max-width: 400px) {
    body{
        min-width: 320px;
    }
}
