@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700i');

$color-purple:#8e82ad;
$color-white: #fff;
$color-lightblue: #848e97;

a,li{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    min-width: 320px;
}
.container{
    margin: 0 auto;
    padding: 0 10px;
}

@mixin style-button {
    background-color: $color-purple;
    padding: 12px 25px;
    border-radius: 25px;
    color: $color-white;
    font-weight: 700;
    border: 1px solid $color-purple;
    transition: all 0.4s;
}
@mixin style-button-hover{
        color: $color-purple;
        background-color: $color-white;
        border: 1px solid $color-purple;
        transition: all 0.4s;
        cursor: pointer;
}
@mixin item-link-hover{
    padding: 12px 35px;
    border-radius: 25px;
    transition: all 0.4s;
}

@mixin feautures-content__img{
    margin-top: 5px;
    height: 84px;
    width: 27%;
    min-width: 111px;
    background-repeat: no-repeat;
    background-position: top center;
}

@mixin footer-title{
    display: inline-block;
    margin-top: 38px;
    color:  #323232;
    font-size: 16px;
}

@mixin footer-text{
    color: $color-lightblue;
    font-size: 14px;
    line-height: 23px;
}

@mixin benefits-button-hover{
    background-color:  rgba(255, 255, 255, 0.7);
    color:  #7f6d78;
    font-weight: 700;
    transition: all 0.4s;
    cursor: pointer;
}
@import "_header";
@import "_feautures";
@import "_social";
@import "_introRevEdit";
@import "_sectionAbout";
@import "_footer";

@media (max-width: 320px) {
    .header__logo{
        &-link{
            width: 43px;
        }
    }
}
//======================320======================//
@media (min-width: 320px) and (max-width: 400px) {
    .header__logo{
        &-link{
            width: 43px;
        }
    }
    
    .feautures{
       &-content{
           &__subtitle{
              margin: 34px auto 21px;
           }
       }

       &-editor{
          width: 320px;
          padding-left: 0px;
        
          img{
             height:  381px;
          }
       }
    }

    .social{
       padding: 65px 50px 6px;

    .social-carousel{

        &__slide{

            >p{
              padding-top: 23px;
            }
        }

        &__slide-user{
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                margin: 0 auto;
            }

            div{
                text-align: center;
            }
        }

        &__slide-userName{
            margin-top: 25px;
        }
}

    .social-buttons{
        margin-bottom: 70px;
    }
}


    .footer-logo__logo{
       margin-top: 40px;

       div{
       display: none;
       }
    }

    .footer-navigation{
       span{
         margin-top: 36px;
       }
    }

}
//======================480======================//
@media (min-width: 401px) and (max-width: 480px) {
    .header{
        background-image: url(../img/img_480/header-banner_480.jpg);
        &__button {
        font-size: 17px;
            &__logo-text{
                display: block;
            }
        }
        &__content{
            padding: 0 15px;
        }
        &__logo{
            width: 40%;
            &-text{
                display: block;
            }
        }
        
    }
    .navbar__item-link{
        font-size: 24px;
        padding: 25px 0;
        &:before{
            height: 53px;
        }
    }
    .headline {
        padding: 101px 15px 0 15px;
        &__title {
            font-size: 54px;
            padding-bottom: 35px;
        }
        &__sub {
            font-size: 20px;
            padding: 0 0 23px 0;
        }
        &__version {
            font-size: 16px;
        }
    }
    .bottom__button{
        font-size: 21px;
        width: 330px;
    }
    .intro{
        &__wrap{
            padding: 50px 15px 78px 15px;
        }
        &__title{
            font-size: 35px; 
            padding: 72px 0 36px 0;
            line-height: 45px;
        }
        &__sub {
            font-size: 16px;
            padding: 0 0 44px 0;
        }
    }

   .feautures{
      padding: 89px 10px 6px 10px;

      &__title{
         font-size: 42px;
         line-height: 52px;
         padding: 0 79px 68px;
      }

      &-content{
         margin: 0 26px;
         flex-direction:row;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: flex-start;

          &__text{
             width: 62%;
             text-align: left;
             margin-bottom: 46px;
          }
      }
       
      &-editor{
         width: 468px;
        
         img{
            height:  519px;
         }
      }
   }

    .social-buttons{
        margin-bottom: 60px;
    }

    .information{
        width: 100%;
        &__text {
            padding: 0 47px 0 47px;
        }
    }
    
    .about {
        background-image: url(../img/img_480/bg-about__480.jpg);
        &__wrap{
            padding: 77px 15px 0 15px;
        }
        &__title{
            font-size: 42px;
        }
    }
    .price{
        &__wrap{
            padding: 70px 15px 96px 15px; 
        }
        &__title{
            font-size: 42px;
            padding-bottom: 57px;
            line-height: 45px;
        }
    }

footer{
       padding: 0 34px 39px;
    }

.footer-logo{
    &__logo{

        margin-top: 40px;
        border-bottom: 1px solid #f4f4f4;
        padding-bottom: 8px;

        div{
            margin-right: 11px;
        }
    }
}

.footer-contacts{
    width: 220px;
}

}


//======================768======================//
@media (min-width: 481px) and (max-width: 992px) {
    .header{
        background-image: url(../img/img_768/header-banner_768.jpg);
        &__bg{
            height: 118px;
        }
        &__content{
            flex-wrap: wrap;
            height: 118px;
            padding: 0;
        }
        &__logo{
            &-text{
                display: block;
            }
        }
        &__button{
            font-size: 16px;
            padding: 12px 35px;
        }
    }
    .toggle{
        width: 100%;
        &__menu{
            display: none;
        }
    }
    .navbar{
        position: relative;
        opacity: 1;
        top: 0;
        display: flex;
        justify-content: space-around;
        &__item{
            background-color: transparent;
            border-bottom: none;
            &-link{
                padding-bottom: 0;
                padding-top: 0;
                font-size: 16px;
                font-weight: 700;
                color: $color-purple;
                transition: all 0.4s;
                &:hover{
                    transition: all 0.4s;
                    color: $color-white;
                }
            }
            &-link:before{
                display: none;
            }
            &-first{
                display: none;
            }
        }
    }
    .headline{
        padding: 50px 0 0 0;
        &__title{
            font-size: 72px;
            padding-bottom: 26px;
        }
        &__sub{
            font-size: 24px;
            padding-bottom: 20px;
        }
    }
    
    .bottom__button{
        font-size: 21px;
        width: 390px;
    }
    .intro {
        &__wrap {
            padding: 48px 0 98px 0;
        }
        &__title{
            font-size: 42px;
            padding-top: 94px;
        }
        &__sub{
            font-size: 21px;
            line-height: 30px;
            padding: 38px 0;
        }
    }

    .feautures{
       flex-direction: column;

    &__title{
       font-size: 42px;
       padding-bottom: 65px;
    }

    &-content{
       margin: 0 33px;
       flex-direction:row;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: flex-start;

       &__img1{
          width: 15%;
       }

       &__img2{
          width: 15%;
       }

       &__img3{
          width: 15%;
       }

       &__img4{
          width: 15%;
       }

       &__text{
          width: 75%;
          text-align: left;
          line-height: 21px;
          margin-bottom: 46px;
        }
    }
        
    &-editor{
         width: 758px;
         padding-left: 10px;
        
         img{
            height:  519px;
         }
      }
}

    .social{
        padding-top: 50px;

       .social-buttons{

           margin-bottom: 60px;
           flex-direction: row;
           flex-wrap: wrap;

           button{
              width: 240px;
              
              span{
                width: 170px;  
              }
           }

           &__git-block, &__twit-block {
               width: 50%;
           }

           &__fb-block{
              width: 100%;
           }

           &:before{
              content: '';
              display: block;
              height: 1px;
              width: 100%;
              background-color: #f4f4f4;
              margin-bottom: 30px;
           }


        }
   }

    .about {
        background-image: url(../img/img_768/bg-about__768.jpg);
        &__wrap{
            padding: 80px 0 17px 0;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        &__title{
            font-size: 42px;
        }
        &__bottomtext{
            font-family: 'Lato', sans-serif;
            display: block;
            color: rgba(162, 145, 165, 0.6);
            line-height: 21px;
        }
    }
    .information{
        width: 45%;
    }
    .price__wrap {
        padding: 80px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .price__title{
        font-size: 42px;
        width: 100%;
    }
    .benefits{
        margin: 0 20px 92px 20px;
        min-width: 30%;
        &:hover{
            transform: scale(1.15);
        }
        &__active{
            transform: scale(1.15);
        }
        &__button:hover{
            @include benefits-button-hover;
        }
        &__button-active{
            @include benefits-button-hover;
        }
    }

    footer{
       padding: 55px 40px 40px;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   }

    .footer-logo{
        width: 45%;
        &__logo{

            img{
               margin-right: 17px;
            }
        }
    }

    .footer-navigation{
        width: 45%;
        span{
          margin-top: 0px;
        }
    }

    .footer-contacts{
        width: 45%;
    }

    .footer-info{
        width: 45%;

        span{
            margin-top: 34px;
        }
    }
}

//======================1200======================//
@media (min-width: 993px) {
    .container{
        max-width: 1200px;
    }
    .header{
        background-image: url(../img/img_1200/header-banner__1200.jpg);
        &__content{
            justify-content: space-between;
            height: 100px;
            padding: 0;
        }
        &__logo{
            &-text{
                display: block;
            }
        }
        &__button{
            order: 1;
        }
    }
    .toggle{
        width: 70%;
        display: flex;
        justify-content: flex-end;
        &__menu{
            display: none;
        }
    }
    .navbar{
        position: relative;
        opacity: 1;
        top: 0;
        display: flex;
        justify-content: space-around;
        width: 70%;
        &__item{
            background-color: transparent;
            border-bottom: none;
            &-link{
                padding-bottom: 0;
                padding-top: 0;
                font-size: 16px;
                font-weight: 700;
                color: $color-purple;
                transition: all 0.4s;
                &:hover{
                    transition: all 0.4s;
                    color: $color-white;
                }
            }
            &-link:before{
                display: none;
            }
            &-first{
                display: none;
            }
        }
    }
    .headline{
        padding: 60px 0 0 0;
        &__title{
            font-size: 82px;
        }
        &__sub{
            font-size: 30px;
        }
        &__version{
            font-size: 16px;
        }
    }
    .bottom__button{
        font-size: 21px;
        width: 390px;
    }
    .intro{
        &__wrap{
            padding: 48px 0 70px 0;
        }
        &__title{
            padding-top:67px;
            font-size: 54px;
        }
        &__sub{
            font-size: 21px;
            line-height: 30px;
            padding: 40px 0 40px 0;
        }
    }
    
    .feautures{
       padding: 84px 60px 6px 90px;
       flex-direction: row;
       justify-content: space-between;
       align-items: flex-start;
       

    &__title{
        display: none;
    }

    &-content{
       width: 40%;
       margin: 0;
       flex-direction:row;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: flex-start;
       max-width: 484px;

       &__img1{
          width: 15%;
       }

       &__img2{
          width: 15%;
       }

       &__img3{
          width: 15%;
       }

       &__img4{
          width: 15%;
       }

       &__text{
          width: 67%;
          text-align: left;
          margin-bottom: 46px;
        }
    }
        
    &-editor{
       width: 59%;
       padding-left: 10px;
       overflow: visible;
       
       &__subtitle{
          padding-left: 10px;
          display: inline-block;
          color:  $color-purple;
          font-size: 48px;
          font-weight: 700;
          padding-bottom: 29px;
       }
        
        &__img768{
            display: none;
        }
        
        &__img1200{
            display:inline-block; 
        }
        
       img{
          height:  519px;
       }
    }
}

    .social{
        padding-top: 87px;

       .social-buttons{
           margin: 50px auto 80px;
           flex-direction: row;
           justify-content: space-between;
           flex-wrap: wrap;
           max-width: 1040px;

           button{
              width: 240px;
               
              span{
                width: 170px;  
              }
           }

           &__git-block, &__twit-block, &__fb-block {
               width: 33%;
           }

           &:before{
              content: '';
              display: block;
              height: 1px;
              width: 100%;
              background-color: #f4f4f4;
               margin-bottom: 30px;
           }
       }
   }

    .about{
        
        background-image: url(../img/img_1200/bg-about__1200.jpg);
        &__title{
            font-size: 48px;
            width: 100%;
        }
        &__wrap{
            padding: 98px 0 0 0;
            justify-content: space-between;
            align-items: baseline;
            border-bottom: none;
        }
        &__bottomtext {
            font-family: 'Lato', sans-serif;
            display: block;
            color: rgba(162, 145, 165, 0.6);
            line-height: 21px;
            width: 70%;
            margin: 0 auto;
        }
        &__bottomtext:after{
            content: "";
            margin: 0 auto;
            margin-top: 10px;
            display: block;
            height: 2px;
            width: 85%;
            background-color: rgba(255,255,255,.15);
        }
    }
    .information {
        width: 30%;
    }
    .price__wrap {
        padding: 89px 0 90px 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .price__title{
        font-size: 48px;
        padding-bottom: 122px;
        width: 100%;
    }
    .benefits{
        margin: 0 7px 0 7px;
        max-width: 23%;
        &__button:hover{
            @include benefits-button-hover;
        }
        &__button-active{
            @include benefits-button-hover;
        }
    }

    footer{
       padding: 60px 90px;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   }

    .footer-logo{
        width: 28%;
        &__logo{

            img{
               margin-right: 17px;
            }
        }

        p{
            margin-top: 24px;
        }
    }

    .footer-navigation{
        width: 22%;
        span{
          margin-top: 0px;
        }
    }

    .footer-contacts{
        width: 25%;
        margin-top: 0px;
    }

    .footer-info{
        width: 25%;

        span{
           margin-top: 0px;
        }
    }

}
